body{
    width: 100%;
    height: 100%;
}
.container {
    margin: 20px 30px;
}
h2 {
    color: #6E7790;
    font-size: 22px;
    font-weight: 300;
    margin: 2rem 0;
}
.details__container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.5rem;    
}
.detail {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 5px 60px;
}
.detail > label {
    font-size: small;
    font-weight: bold;
    color: #6E7790;
}
.detail > input {
    border-radius: 2px;
    border: 1px solid #d7d7e7;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem 1rem;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    grid-column: 1 / 3 
}

.detail > input:hover {
    border: 1px solid #1a98e1;
}
.detail--error > span{
    display: grid;
    justify-items: end;
    color: red;
}

.detail--error > input,
.detail--error > input:hover,
.detail--error > input:active
{
    border: 1px solid red;
}
.sizes__container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.size {
    display: grid;   
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    align-items: center;
}
.size > img {
    --width: 100px;
    width: var(--width);
    border: 5px solid silver;
    border-radius: 50%;
}
.size--small > img {
    width: calc(var(--width) * 0.8)
}
.size--large > img {
    width: calc(var(--width) * 1.2)
}
.toppings__container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px 30px;
}
.topping {
    border-radius: 2px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
    background: #f2f2f2;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
}
.topping:hover {
    border-color: #1a98e1;
    color: #1a98e1;
}
.topping--active {
    background: #1a98e1;
    color: white!important;
}
.topping > img {
    width: 50px;
    height: 33px;
    padding: 10px;
    box-sizing: border-box;
    background: #e6e6e6;
}
.toppingBtn{
    border: none;
    outline: none;
}
.submitOrder{
    width: 100%;
    background: #98C550;
    border: none;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.item{
    font-size: 1rem;
    margin-right: 80px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.total{
    display: grid;
    grid-template-columns: 1fr auto;
} 